<!-- Use Jinja2 to extend the base html template -->
{% extends 'bootstrap/base.html' %}
{%import 'bootstrap/wtf.html' as wtf %}


<!-- Custom body for this page -->
{% block content %}
    <!-- Custom styles for this template -->
    <link href="/static/css/forms.css" rel="stylesheet">

    <div style="margin-left: 10%; margin-right: 10%">
        <img src="/static/img/eliz_tower.png" alt="Elizabeth Tower" class="center_img">
        <h1>Login Page</h1>
        <div class="error_list">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    </br>
                    <h3>**Alert**</h3>
                    {%for message in messages %}
                    <h4>{{ message }}</h4>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST" action="/login" id="login_form">
            {{ form.csrf_token }}
            <hr>
                {{ wtf.quick_form(form) }}
            </hr>
        </form>
    </div>
{% endblock %}


